<nav class="navbar navbar-expand-sm mi-navbar">
    <div class="container-fluid">
        <img src="./assets/images/logo.png" alt="Logo de Trivia Tech UTP" class="img-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" role="button" id="productosBtn">Productos</a>
                </li>
            </ul>
            <ul class="navbar-nav d-flex align-items-center">
                <li class="nav-item">
                    <a class="nav-link" role="button" id="carritoBtn"><i class="bi bi-cart-fill"></i></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        admin@gmail.com
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Perfil</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <a class="btn btn-outline-light ms-3 mi-a-logout" role="button" id="logoutBtn">Cerrar sesión</a>
                    </ul>
                  </li>
            </ul>
        </div>
    </div>
</nav>