<div class="modal fade" id="eliminarProductoModal" tabindex="-1" aria-labelledby="eliminarProductoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title fs-5" id="eliminarProductoModalLabel">Eliminar Producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Desea eliminar el producto: 
            <div id="textoProductoModal" class="lead"></div>                                      
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn" id="confirmarEliminarBtn" >Eliminar</button>
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>   
        </div>
    </div>
    </div>
</div>