<div class="container mt-5 mi-main" id="carritoMain">
    <h1 class="text-center">Carrito Producto</h1>
    <div class="d-flex justify-content-between mt-5">
        <button class="btn btn-outline-secondary" id="atrasBtn" role="button">Atrás</button>
        <div>
            <button type="button" class="btn" id="pagarBtn" aria-label="Pagar">Pagar</button>
            <button type="button" class="btn" id="vaciarBtn" aria-label="Vaciar carrito"> Vaciar</button>
        </div>
    </div>

    <div class="mt-5" id="productosCarrito"></div>

    <div id="pagarModal"></div>
    <div id="vaciarModal"></div>
</div>

    
