<div class="container mt-5 mi-main" id="detallePreguntaMain">
    <h1 class="text-center">Detalle Producto</h1>
    <div class="d-flex justify-content-between mt-5">
        <button class="btn btn-outline-secondary" id="atrasBtn" role="button">Atrás</button>
        <div>
            <button type="button" class="btn" id="editarBtn" aria-label="Editar producto">Editar</button>
            <button type="button" class="btn" id="eliminarBtn" aria-label="Eliminar producto"> Eliminar</button>
        </div>
    </div>

    <div class="mt-5">
        <div class="mb-3"> <strong>Categoría:</strong> <span class="lead" id="categoria"></span></div>
        <div class="mb-3"> <strong>Nombre:</strong> <span class="lead" id="nombre"></span></div>
        <div class="mb-3"> <strong>Precio:</strong> <span class="lead" id="precio"></span></div>
        <div class="mb-3"> <strong>Descripción:</strong> <span class="lead" id="descripcion"></span></div>
    </div>

    <div id="productoModal"></div>
    <div id="eliminarModal"></div>
</div>