<div class="container mt-5 mi-main" id="productosMain">
    <h1 class="text-center">Mis productos</h1>
    <div class="d-flex justify-content-between mt-5">
        <div>
            <div class="input-group">
                <label for="buscarInput" class="visually-hidden">Buscar por categoría</label>
                <input type="text" id="buscarInput" class="form-control" placeholder="Buscar por categoría">
                <button class="btn btn-outline-secondary" type="button" id="buscarBtn" aria-label="Buscar"><i class="bi-search"></i></button>
            </div>
        </div>
        <button type="button" class="btn" id="crearProductoBtn" aria-label="Crear nuevo producto"> 
            Crear Producto
        </button>
    </div>

    <div id="productosTabla" class="mt-4" aria-live="polite"></div>
    
    <div id="productoModal"></div>
</div>

    
